In [292]:
# import pandas and numpy
import pandas as pd

In [293]:
# create path with a variable 
heroes_path = "../Resources/purchase_data.csv"

In [294]:
# read in the csv from the path
heroes_df = pd.read_csv(heroes_path)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [295]:
# cheack to see if there is any missing data that needs to be removed
heroes_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [296]:
# look up sn's unique value
heroes_df["SN"].describe()

count           780
unique          576
top       Lisosia93
freq              5
Name: SN, dtype: object

In [297]:
# get sn's len from unique value
sn_count = len(heroes_df["SN"].unique())
sn_count

576

In [298]:
# create dataframe for total players with sn_count variable as to value
sn_count_df = pd.DataFrame({"Total Players": [sn_count]})
sn_count_df

   Total Players
0            576

In [299]:
# get unique items count with len and unique fucntion
unique_items_count = len(heroes_df["Item ID"].unique())
unique_items_count

179

In [300]:
# get average from Price column using the mean function
average = heroes_df["Price"].mean()
average

3.0509871794871795

In [301]:
# get total number of purchases with len function 
total_purchases = len(heroes_df)
total_purchases

780

In [302]:
# get total revenue from Price column using sum function
total_revenue = heroes_df["Price"].sum()
total_revenue

2379.77

In [303]:
# create dataframe using a dictionary with keys (header) and values collected above
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_count], "Average Price": [average], 
                                       "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue] })
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [334]:
#create a groupby with SN and gender since we need to get group_sn_df = heroes_df.groupby("SN")["Gender"].count()
#confirmed that this dataframes length is the same as the total player amount
group_sn_df = heroes_df.groupby("SN")["Gender"].count()
group_sn_df

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Gender, Length: 576, dtype: int64