In [80]:
# import dependencies
import os
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from config import (user, password)

In [81]:
# create engine
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/Pewlett Hackard Employees')

In [82]:
engine

Engine(postgresql://postgres:***@localhost:5432/Pewlett Hackard Employees)

In [77]:
data = engine.execute("SELECT * FROM titles")

In [78]:
for row in data:
    
    print(row[1])

Staff
Senior Staff
Assistant Engineer
Engineer
Senior Engineer
Technique Leader
Manager

In [86]:
salary = engine.execute("SELECT salary FROM Salaries")

In [85]:
salary_per_employee

for row in salary_per_employee:
 print(row)