## Observations and Insights

In [455]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "../Resources/data_Mouse_metadata.csv"
study_results_path = "../Resources/data_Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [456]:
# Checking the number of mice. Using .describe() to obtain unique mouse id count
combined_data["Mouse ID"].describe()

count     1893
unique     249
top       g989
freq        13
Name: Mouse ID, dtype: object

In [457]:
# creat a dataframe for duplicated data. Using .loc and .duplicated on "Mouse Id" to go through : all the rows
duplicated_data = combined_data.loc[combined_data.duplicated("Mouse ID"), :]
duplicated_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [458]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. From duplicated data above.
duplicated_data.loc[:,["Mouse ID", "Timepoint"]]

     Mouse ID  Timepoint
1        k403          5
2        k403         10
3        k403         15
4        k403         20
5        k403         25
...       ...        ...
1888     z969         25
1889     z969         30
1890     z969         35
1891     z969         40
1892     z969         45

[1644 rows x 2 columns]

In [460]:
# Optional: Get all the data for the duplicate mouse ID.
duplicated_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1

In [461]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID. 
# Using combined_data since the duplicated_data does not account for 9 non-duplicate mouse id's
clean_data = combined_data.drop_duplicates("Mouse ID", keep="last")
clean_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1

In [462]:
# Checking the number of mice in the clean DataFrame. Confirm Mouse Id count is 249
clean_data["Mouse ID"]

9       k403
19      s185
29      x401
39      m601
49      g791
        ...
1859    z314
1862    z435
1872    z581
1882    z795
1892    z969
Name: Mouse ID, Length: 249, dtype: object

## Summary Statistics

In [478]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
drug_regimen = clean_data[["Drug Regimen", "Tumor Volume (mm3)"]]
grouped_drug_regimen = drug_regimen.groupby(["Drug Regimen"])
grouped_drug_regimen.head()

#drug_tumor = grouped_drug_regimen.max()
#drug_tumor
#tumor = clean_data

    Drug Regimen  Tumor Volume (mm3)
9       Ramicane           22.050126
19     Capomulin           23.343598
29     Capomulin           28.484033
39     Capomulin           28.430964
49      Ramicane           29.128472
59      Ramicane           30.276232
64     Capomulin           30.485985
74      Ramicane           30.564625
84      Ramicane           30.638696
104    Capomulin           31.023923
463    Infubinol           67.973419
473    Infubinol           65.525743
483      Placebo           70.717621
493     Ceftamin           62.999356
500     Stelasyn           63.440686
510    Zoniferol           66.794156
513     Ketapril           49.783419
523     Stelasyn           60.122011
530    Infubinol           57.031862
540    Infubinol           66.083066
550     Propriva           62.191414
557    Zoniferol           60.413709
567     Naftisol           74.997764
577      Placebo           72.255963
587     Stelasyn           62.765093
593    Zoniferol           55.745146
594     Ceftamin           45.000000
600     Ceftamin           56.057749
610     Naftisol           73.051363
617     Ceftamin           55.742829
627     Stelasyn           72.555239
637    Infubinol           72.226731
647    Zoniferol           67.942121
657      Placebo           65.815165
667    Zoniferol           64.575222
679     Stelasyn           74.040390
696     Ketapril           58.046569
706      Placebo           69.042841
716      Placebo           69.823146
725     Ketapril           62.175705
735     Ketapril           65.415955
751     Propriva           64.183229
764     Ketapril           60.233733
774     Naftisol           63.105696
790     Naftisol           55.138953
810     Naftisol           68.359777
840     Ceftamin           48.722078
893     Propriva           61.774963
903     Propriva           70.492788
920     Propriva           62.570880

In [400]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [401]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen